<footer id="footer" class="panel">
    <div class="inner split">
        <div>
            <section>
                <h2>Moisés Guimarães</h2>
                <p>Programador, atualmente trabalhando como professor e engenheiro de software. Produz fotos porque gosta, vive clicando aqui e acolá...</p>
            </section>
            <section>
                <h2>Me encontre ...</h2>
                <ul class="icons">
                    <li><a href="https://github.com/moisesguimaraes" class="icon fa-github"><span class="label">GitHub</span></a></li>
                    <li><a href="https://www.instagram.com/mguimaraesm" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                    <li><a href="https://www.facebook.com/guimaraes.moises" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                    <li><a href="https://twitter.com/moisesguimaraes" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                </ul>
            </section>
            <p class="copyright">
                &copy; Moisés Guimarães. Design: <a href="http://html5up.net">HTML5 UP</a>.
            </p>
        </div>
        <div>
            <section>
                <h2>Entre em contato</h2>
                <form method="post" action="#">
                    <div class="field half first">
                        <input type="text" name="name" id="name" placeholder="Nome" />
                    </div>
                    <div class="field half">
                        <input type="text" name="email" id="email" placeholder="Email" />
                    </div>
                    <div class="field">
                        <textarea name="message" id="message" rows="4" placeholder="Mensagem"></textarea>
                    </div>
                    <ul class="actions">
                        <li><input type="button" value="Enviar" class="special" /></li>
                        <li><input type="reset" value="Apagar" /></li>
                    </ul>
                </form>
            </section>
        </div>
    </div>
</footer>
